<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Transport Timer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <script src="https://use.fontawesome.com/3eba172dd9.js"></script>

    <script src="app.js"></script>
  </head>
  <body ng-app="PublicTransportTimer" ng-controller="ReportsController as reportList">
    <div class="container-fluid">
        <div class="row">
          <div class="page-header col-md-9">
            <h1>
              Public Transport Timer |
              <span class="fa fa-subway" aria-hidden="true"></span>
              <span class="fa fa-map-pin" aria-hidden="true"></span>
              <span class="fa fa-bus" aria-hidden="true"></span>
            </h1>
          </div>
          <div class="page-header col-md-1">
            <img src="traffiQLogo.png" class="img-fluid" alt="traffiQ Logo">
          </div>

          <div class="col-md-9 col-md-offset-3">

            <div class="form-group">

              <label>Select Line</label>

              <select ng-model="selectedName" ng-options="x for x in reportList.lines">
              </select>
              
              <h3>Please Select</h3>
              <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="reportList.addToList('Arrival');">
                <span class="fa fa-map-pin" aria-hidden="true"></span>
                Report Arrival Time</button>
              <button type="button" class="btn btn-secondary btn-block btn-lg" ng-click="reportList.addToList('Departure');">
                <span class="fa fa-bus" aria-hidden="true"></span>
                Report Departure Time</button>
              <button type="button" class="btn btn-dark btn-block btn-lg" ng-click="reportList.addToList('Transit');">
                <span class="fa fa-road" aria-hidden="true"></span>
                Report Transit Time</button>
            </div>

            <h3>Report</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Type</th>
                  <th>Timestamp</th>
                  <th>Duration</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in reportList.items | orderBy: '-time'">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.type}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.relativeTime}}</td>
                    <td>
                      <button type="button" class="btn btn-danger btn-sm" aria-label="Remove" ng-click="reportList.removeItem(item.id);">
                      <span class="fa fa-times" aria-hidden="true"></span>
                      </button>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-3 col-md-offset-3">
            <div class="form-group">
              <h3>Download Report</h3>
              <p><input type="text" class="form-control" ng-model="reportList.fileName" placeholder="Enter Filename, e.g. 180107_Li34_GRi.csv"></p>
              <p>
                <button type="button" class="btn btn-warning" ng-click="reportList.getCSV(reportList.fileName);">
                <span class="fa fa-download" aria-hidden="true"></span>
                Download
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
