<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Transport Timer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <script src="https://use.fontawesome.com/3eba172dd9.js"></script>

    <script src="app.js"></script>
  </head>
  <body ng-app="PublicTransportTimer" ng-controller="ReportsController as reportList">
    <div class="container-fluid">
        <div class="row">
          <div class="page-header col-md-9">
            <h1>
              Public Transport Timer |
              <span class="fa fa-subway" aria-hidden="true"></span>
              <span class="fa fa-map-pin" aria-hidden="true"></span>
              <span class="fa fa-bus" aria-hidden="true"></span>
            </h1>
          </div>
          <div class="page-header col-md-1">
            <img src="traffiQLogo.png" class="img-fluid" alt="traffiQ Logo">
          </div>

          <div class="col-md-9 col-md-offset-3">

            <div class="form-group">

              <form>
                <div class="form-group">
                  <div class="col-xs-offset-2">
                    <label for="ex1">Line Number</label>
                    <input class="form-control" id="ex1" type="text" ng-model="reportList.line" placeholder="Enter bus line">
                  </div>
                  <div class="col-xs-offest-2">
                    <label for="ex2">Direction</label>
                    <input class="form-control" id="ex2" type="text" ng-model="reportList.direction" placeholder="Enter direction">
                  </div>
                  <div class="col-xs-offest-2">
                    <label for="ex3">Global Annotation</label>
                    <input class="form-control" id="ex3" type="text" ng-model="reportList.annotation" placeholder="Enter your global annotation for this file">
                  </div>
                </div>
              </form>

              <h4>Please Select</h4>
              <button type="button" class="btn btn-primary btn-lg" ng-click="reportList.addToList('Arr');">
                <span class="fa fa-map-pin" aria-hidden="true"></span>
                Arrival</button>
              <button type="button" class="btn btn-secondary btn-lg" ng-click="reportList.addToList('Dep');">
                <span class="fa fa-bus" aria-hidden="true"></span>
                Departure</button>
              <button type="button" class="btn btn-dark btn-lg" ng-click="reportList.addToList('Transit');">
                <span class="fa fa-road" aria-hidden="true"></span>
                Transit</button>

                <div>
                  <label>Comment</label>
                  <input type="text" class="form-control" ng-model="reportList.comment" placeholder="Enter new comment">
                </div>
                </div>

                <h4>Counting of Passengers</h4>
                <table class='table borderless'>
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Count</th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <button type="button" class="btn btn-primary btn-sm" aria-label="-10" ng-click="reportList.changeFilling(-10);">
                        -10
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary btn-sm" aria-label="-5" ng-click="reportList.changeFilling(-5);">
                        -5
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary btn-sm" aria-label="-1" ng-click="reportList.changeFilling(-1);">
                        -1
                        </button>
                      </td>
                      <td>
                        <input class="form-control" type="tel" ng-model="reportList.filling">
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary btn-sm" aria-label="+1" ng-click="reportList.changeFilling(1);">
                        +1
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary btn-sm" aria-label="+5" ng-click="reportList.changeFilling(5);">
                        +5
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary btn-sm" aria-label="+10" ng-click="reportList.changeFilling(10);">
                        +10
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>




            <h3>Report</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Type</th>
                  <th>Time</th>
                  <th>Dur</th>
                  <th>Comment</th>
                  <th>Del</th>
                  <th>Pass: {{reportList.numPass}}</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in reportList.items | orderBy: '-time'">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.type}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.relativeTime}}</td>
                    <td>{{item.comment}}
                      <button type="button" class="btn btn-dark btn-sm" aria-label="Comment" ng-click="reportList.addComment(item.id, reportList.comment);">
                      <span class="fa fa-comment" aria-hidden="true"></span>
                      </button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger btn-sm" aria-label="Remove" ng-click="reportList.removeItem(item.id);">
                      <span class="fa fa-times" aria-hidden="true"></span>
                      </button>
                    </td>
                    <td>
                      <label ng-hide="item.passenger == 0">
                        {{item.passenger}}
                      </label>
                      <button type="button" class="btn btn-primary btn-sm" aria-label="out" ng-show="item.type == 'Arr'" ng-click="reportList.addFilling(item.id, -reportList.filling);">
                      <span class="fa fa-bus" aria-hidden="true"></span>
                      <span class="fa fa-arrow-circle-right" aria-hidden="true"></span>
                      <span class="fa fa-users" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-secondary btn-sm" aria-label="in" ng-show="item.type == 'Dep'" ng-click="reportList.addFilling(item.id, reportList.filling);">
                      <span class="fa fa-bus" aria-hidden="true"></span>
                      <span class="fa fa-arrow-circle-left" aria-hidden="true"></span>
                      <span class="fa fa-users" aria-hidden="true"></span>
                      </button>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-3 col-md-offset-3">
            <div class="form-group">
              <h3>Download Report</h3>
              <p>
                <button type="button" class="btn btn-warning" ng-click="reportList.getCSV();">
                <span class="fa fa-download" aria-hidden="true"></span>
                Download
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
